body {
    background-color: white;
}
 
.layout-container {
    width: 600px;
    height: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    
}
 
.layout-container h1 {
    font-family: "sans-serif";
    background-color: #7c8bdf;
    font-size: 60px;
    text-align: center;
    color: #2e0cee;
    padding: 2px 0px;
    
}
 
#score {
    color: #0112ff;
    text-align: center;
    font-size: 30px;
}
 
.ayout-container #question {
    font-family: "monospace";
    font-size: 30px;
    color: #3801ff;
}
 
.buttons {
    margin-top: 30px;
}
 .questions {
    
    background-color: #5c5fdd;
    width: 100%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: 1px solid #1D3C6A;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}
.asnwers {display: flex;
    height: 500px;
   flex-direction: column;
   padding: 10px;
   margin: 50px;
}
 

#questionsContainer:focus {
    outline: 0;
    background-color: tomato;
}
 .highscores {
     font-size: x-large;
 }


